@charset "UTF-8";

/*Configurações Gerais*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;/*Tamanho da tela*/
    height: 100vh; /*Tamanho da tela*/
    background-color: black; /* Fundo de tela*/
    background-size: contain;/*Utilizado cover mas foto em pe fica cortada utilizamos neste caso contain cabe foto inteira em pe ajustada*/
    background-repeat: no-repeat;/*Eu fiz retrato e paisagem correto somente aqui tanto em outro precisa do comando*/
}
h1{
    color: white; /*Letra do texto contida em h1*/
    text-shadow: 3px 3px 0px red;/*Colocando sobra no texto*/
    padding: 10px;
}